#srteditor-footer {
    position: absolute;
    bottom: 0;
    color: #696969;
    font-style: italic;
    text-align: center;
    font-size: 80%;
    padding-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}