{%- if include.header == true -%}
  <script id="loader">
  Loader = {};
  document.write('<script>const ROOT_LOCATION = "{{ include.root_location }}";<\/script>')
{%- else -%}
function Loader() {
}
{% endif %}

Loader.{%- if include.header == false -%}prototype.{%- endif -%}removeBlanks = function( arr ) {
    var ret = [];
    for( var i = 0; i < arr.length; i++ ) {
        if( arr[i] ) {
            ret.push( arr[i] );
        };
    };
    return ret;
};

{%- if include.header == true -%}
Loader.loadResources = function() {
    this.loadFavicon();
    {%- if include.css -%}
    this.loadCss();
    {%- endif %}
    {%- if include.js -%}
    this.loadJs();
    {%- endif -%}
};

Loader.loadFavicon = function() {
    document.write( '<link rel="shortcut icon" href="' + ROOT_LOCATION + 'static/img/ico/favicon.ico"></link>' );
};

{%- if include.css -%}
Loader.loadCss = function() {
    var txt = '{{ include.css }}';
    if( txt.length ) {
        var files = txt.split( ' ' );
        for( var i = 0; i < files.length; i++ ) {
            document.write( '<link rel="stylesheet" type="text/css" href="' + ROOT_LOCATION + 'static/css/' + files[i] + '.css"></link>' );
        }
    };
};
{% endif %}
{%- if include.js -%}
Loader.loadJs = function() {
    var txt = '{{ include.js }}';
    if( txt.length ) {
        var files = '{{ include.js }}'.split( ' ' );
        for( var i = 0; i < files.length; i++ ) {
            document.write( '<script type="text/javascript" src="' + ROOT_LOCATION + 'static/js/' + files[i] + '.js"><\/script>' );
        }
    }
};
{% endif %}
Loader.loadResources();
loaderJs = document.getElementById( 'loader' );
loaderJs.parentElement.removeChild( loaderJs );
delete window.Loader;
delete window.loaderJs;
{% endif %}
{% if include.header == false %}
Loader.prototype.fixResources = function() {
    var self = this;
    $( '.loader' ).each( function() {
        $( this ).attr( $( this ).attr( 'data-attr' ), ROOT_LOCATION + $( this ).attr( 'data-url' ) );
        $( this ).removeAttr( 'data-url' );
        $( this ).removeAttr( 'data-attr' );
        if( this.classList.length === 1 ) {
            $( this ).removeAttr( 'class' );
        } else {
            $( this ).removeClass( 'loader' );
        };
    } );
};

$( document ).ready( function() {
    var loader = new Loader();
    loader.fixResources();
} );
{% endif %}
{%- if include.header -%}
  </script>
{%- endif -%}